<div id="<%= dom_id cotiza_compuertum %>">
  <p>
    <strong>Tipo:</strong>
    <%= cotiza_compuertum.tipo %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= cotiza_compuertum.observaciones %>
  </p>

</div>
