<h1>Editing cotiza compuertum</h1>

<%= render "form", cotiza_compuertum: @cotiza_compuertum %>

<br>

<div>
  <%= link_to "Show this cotiza compuertum", @cotiza_compuertum %> |
  <%= link_to "Back to cotiza compuerta", cotiza_compuerta_path %>
</div>
