<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Aframex', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Cotizaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Solicitudes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catálogos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Asesores</a></li>
            <li><a class="dropdown-item" href="#">Clientes</a></li>
            <li><%= link_to 'Productos', productos_path, class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Proveedores</a></li>
            <li><a class="dropdown-item" href="#">Proyectos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Compuertas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" href="#">Capacidad Compuerta</a></li>
            <li><a class="dropdown-item" href="#">MO diamonds</a></li>
            <li><a class="dropdown-item" href="#">MO Dynatorque</a></li>
            <li><a class="dropdown-item" href="#">Rosca Acme Vastagos</a></li>
            <li><a class="dropdown-item" href="#">Volante Actuador</a></li>
            <li><a class="dropdown-item" href="#">Materiales y precios</a></li>
          </ul>
        </li>

       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rotofiltros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a class="dropdown-item" href="#">Caracteristicas</a></li>
            <li><a class="dropdown-item" href="#">Capacidades</a></li>
            <li><a class="dropdown-item" href="#">Factor Multiplicador</a></li>
            <li><a class="dropdown-item" href="#">Precios</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>