<div id="<%= dom_id capacidad_compuertum %>">
  <p>
    <strong>Carga:</strong>
    <%= capacidad_compuertum.carga %>
  </p>

  <p>
    <strong>Ancho:</strong>
    <%= capacidad_compuertum.ancho %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= capacidad_compuertum.valor %>
  </p>

</div>
