<h1>Editing capacidad compuertum</h1>

<%= render "form", capacidad_compuertum: @capacidad_compuertum %>

<br>

<div>
  <%= link_to "Show this capacidad compuertum", @capacidad_compuertum %> |
  <%= link_to "Back to capacidad compuerta", capacidad_compuerta_path %>
</div>
